[submodule "source/zlib"]
	path = source/zlib
	url = https://github.com/AtelierNeon/an-zlib-gsm.git
[submodule "source/cmake-modules"]
	path = source/cmake-modules
	url = https://github.com/AtelierNeon/an-cmake-modules-gsm.git
